:root {
  --red-button: #ff605c;
  --yellow-button: #ffbd44;
  --green-button: #00ca4e;
  --red-tag: #e84b31;
  --blue-tag: #3476e1;
  --orange-tag: #de8b32;
  --yellow-tag: #e5bd3f;
  --green-tag: #56b83d;
  --purple-tag: #9e54ba;
}
